* {
	user-select: none;	
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;	
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: -moz-linear-gradient(to bottom right, #4be7ff, #4b6cff);	
	overflow: hidden;
}

#title {
	color: white;
	text-shadow: 5px 5px #3049b8;
	font-size: 48px;
	font-family: "Grobold";
	text-align: center;
}

#gem {
	position: relative;
	left: 500px;
	top: 200px;
	margin-top: 10px;
	height: 50px;
	width: 50px;
}

#scoreBoard {
	position: relative;
	left: 500px;
	top: 190px;
	margin-left: 10px;
	color: white;
	text-shadow: 3px 3px #3049b8;
	font-family: "Grobold";
	font-size: 50px;
}

#evolvebutton {
	background-color: #4be7ff;
	border: solid;
	border-color: #3690f7;
	border-width: 2 3px;
    color: white;
	padding: 15px 32px;
	font-family: "Grobold";
	text-shadow: 1px 1px #3049b8;
	font-weight: bold; 
	text-align: center;
	text-decoration: none;
	padding-top: 8px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
	cursor: pointer;
	border-radius: 25px;
	height: 45px;
	width: 225px;
}

#evolvebutton:hover {
	box-shadow: 0 9px 12px 0 rgba(0,0,0,0.24), 0 12px 30px 0 rgba(0,0,0,0.19);
}

#upgradememes {
	background-color: #4be7ff;
	border: solid;
	border-color: #3690f7;
	border-width: 2 3px;
    color: white;
	padding: 15px 32px;
	font-family: "Grobold";
	text-shadow: 1px 1px #3049b8;
	font-weight: bold; 
	text-align: center;
	text-decoration: none;
	padding-top: 8px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
	cursor: pointer;
	border-radius: 25px;
	height: 45px;
	width: 225px;
}

#upgradememes:hover {
	box-shadow: 0 9px 12px 0 rgba(0,0,0,0.24), 0 12px 30px 0 rgba(0,0,0,0.19);
}

#wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	z-index: 10;
}

#sandbox {
	position: fixed;
	left: 20px;
	bottom: 20px;
	color: white;
	font-family: "Lucida Sans";
}

@font-face {
	font-family: "Grobold";
	src: url("src/fonts/GROBOLD.ttf");
}