* {
	user-select: none;	
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;	
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: linear-gradient(to bottom right, #4be7ff, #4b6cff);	
	overflow: hidden;
}

h1 {
	color: white;
	text-shadow: 5px 5px #3049b8;
	font-family: "Grobold";
	text-align: center;
}

div.sidebar {
	width: 600px;
}

div.sidebar button {
	display: inline-block;
	margin: 12px;
	background-color: aliceblue;
	border: 3px solid royalblue;
	border-radius: 15px;
	color: royalblue;
	font-size: 22px;
	font-family: "Grobold";		
	width: 274px;
	height: 45px;
}

div.sidebar button:hover {
	background-color: rgb(74, 255, 144);
	color: rgb(32, 114, 82);
}

div.sidebar button.insufficient:hover  {
	background-color: rgb(255, 74, 74);
	color: rgb(114, 32, 32);
}

#title {
	font-size: 48px;	
}

#gem {
	position: relative;
	left: 500px;
	top: 200px;
	margin-top: 10px;
	height: 50px;
	width: 50px;
}

#scoreBoard {
	position: relative;
	left: 500px;
	top: 190px;
	margin-left: 10px;
	color: white;
	text-shadow: 3px 3px #3049b8;
	font-family: "Grobold";
	font-size: 50px;
}

#wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	z-index: 10;
}

#sandbox {
	position: fixed;
	left: 20px;
	bottom: 20px;
	color: white;
	font-family: "Lucida Sans";
}

@font-face {
	font-family: "Grobold";
	src: url("src/fonts/GROBOLD.ttf");
}